[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.104.1"
sqlalchemy = "==2.0.23"
python-multipart = "==0.0.6"
python-decouple = "==3.8"
email-validator = "==2.1.0"
psycopg2-binary = "==2.9.9"
alembic = "==1.13.0"
uvicorn = {extras = ["standard"], version = "==0.24.0"}
python-jose = {extras = ["cryptography"], version = "==3.3.0"}
passlib = {extras = ["bcrypt"], version = "==1.7.4"}

[dev-packages]

[requires]
python_version = "3.13"
