/* RTL Support Styles */
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}

/* General RTL Utilities */
[dir="rtl"] .text-left {
  text-align: right;
}

[dir="rtl"] .text-right {
  text-align: left;
}

[dir="rtl"] .float-left {
  float: right;
}

[dir="rtl"] .float-right {
  float: left;
}

[dir="rtl"] .left-0 {
  right: 0;
}

[dir="rtl"] .right-0 {
  left: 0;
}

[dir="rtl"] .ml-0 {
  margin-right: 0;
  margin-left: unset;
}

[dir="rtl"] .mr-0 {
  margin-left: 0;
  margin-right: unset;
}

[dir="rtl"] .ml-1 {
  margin-right: 0.25rem;
  margin-left: unset;
}

[dir="rtl"] .mr-1 {
  margin-left: 0.25rem;
  margin-right: unset;
}

[dir="rtl"] .ml-2 {
  margin-right: 0.5rem;
  margin-left: unset;
}

[dir="rtl"] .mr-2 {
  margin-left: 0.5rem;
  margin-right: unset;
}

[dir="rtl"] .ml-3 {
  margin-right: 0.75rem;
  margin-left: unset;
}

[dir="rtl"] .mr-3 {
  margin-left: 0.75rem;
  margin-right: unset;
}

[dir="rtl"] .ml-4 {
  margin-right: 1rem;
  margin-left: unset;
}

[dir="rtl"] .mr-4 {
  margin-left: 1rem;
  margin-right: unset;
}

[dir="rtl"] .ml-5 {
  margin-right: 1.25rem;
  margin-left: unset;
}

[dir="rtl"] .mr-5 {
  margin-left: 1.25rem;
  margin-right: unset;
}

[dir="rtl"] .pl-0 {
  padding-right: 0;
  padding-left: unset;
}

[dir="rtl"] .pr-0 {
  padding-left: 0;
  padding-right: unset;
}

[dir="rtl"] .pl-1 {
  padding-right: 0.25rem;
  padding-left: unset;
}

[dir="rtl"] .pr-1 {
  padding-left: 0.25rem;
  padding-right: unset;
}

[dir="rtl"] .pl-2 {
  padding-right: 0.5rem;
  padding-left: unset;
}

[dir="rtl"] .pr-2 {
  padding-left: 0.5rem;
  padding-right: unset;
}

[dir="rtl"] .pl-3 {
  padding-right: 0.75rem;
  padding-left: unset;
}

[dir="rtl"] .pr-3 {
  padding-left: 0.75rem;
  padding-right: unset;
}

[dir="rtl"] .pl-4 {
  padding-right: 1rem;
  padding-left: unset;
}

[dir="rtl"] .pr-4 {
  padding-left: 1rem;
  padding-right: unset;
}

[dir="rtl"] .pl-5 {
  padding-right: 1.25rem;
  padding-left: unset;
}

[dir="rtl"] .pr-5 {
  padding-left: 1.25rem;
  padding-right: unset;
}

/* RTL Flex Utilities */
[dir="rtl"] .flex-row {
  flex-direction: row-reverse;
}

[dir="rtl"] .flex-row-reverse {
  flex-direction: row;
}

[dir="rtl"] .justify-start {
  justify-content: flex-end;
}

[dir="rtl"] .justify-end {
  justify-content: flex-start;
}

[dir="rtl"] .justify-between {
  justify-content: space-between;
  /* This remains the same as the gap between items doesn't reverse */
}

[dir="rtl"] .space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

[dir="rtl"] .space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

[dir="rtl"] .space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

[dir="rtl"] .space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

[dir="rtl"] .space-x-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

/* RTL Transform Utilities */
[dir="rtl"] .scale-x-0 {
  --tw-scale-x: 0;
}

[dir="rtl"] .scale-x-50 {
  --tw-scale-x: .5;
}

/* For icons that need to be flipped in RTL */
[dir="rtl"] .flip-rtl {
  transform: scaleX(-1);
}

/* RTL specific component styles */
[dir="rtl"] .rtl-input {
  text-align: right;
  direction: rtl;
}

[dir="rtl"] .rtl-input::placeholder {
  text-align: right;
  direction: rtl;
}

/* RTL for dropdowns */
[dir="rtl"] .rtl-dropdown {
  text-align: right;
}

[dir="rtl"] .rtl-dropdown ul {
  right: 0;
  left: auto;
}

/* RTL for tooltips */
[dir="rtl"] .tooltip-left {
  right: 100%;
  left: auto;
}

[dir="rtl"] .tooltip-right {
  left: 100%;
  right: auto;
}

/* RTL for navigation */
[dir="rtl"] .rtl-nav ul {
  display: flex;
  flex-direction: row-reverse;
}